.jobs(ng-controller='JobsController')
  .row
    .columns.small-centered.small-11
      form.panel(ng-submit="findJobs()")
        .row
          .columns.small-12
            .row
              .columns.small-3
                label.right.inline Skills
              .columns.small-9
                input(type="text", ng-model="skills")

        .row
          .columns.small-12
            .row
              .columns.small-3
                label.right.inline Type
              .columns.left.small-5
                select(multiple="multiple", ng-model="type")
                  option Hourly
                  option Fixed

        .row
          .columns.small-12
            button.button.right(type="submit")
              | <i class='icon-search'></i>
              | Find

  .results
    .item
      .labels
        a.button.small.radius.right(href='#')
          | <i class='icon-share-alt'></i>
          | Go
        span.label.label-inverse Fixed
        span.label.success 400$
        span.label.alert Part-time - 10-30 hrs/week
        span.label.secondary More than 6 months
      .description I have source code for an iOS slot machine game. I am looking to ‘reskin’ the game entirely by replacing symbol design, buttons, sounds, and an ‘unlock payout’ screen which is used to facilitate in-app purchases. \n\nI am looking for a contract with a fixed price, not an hourly wage. This is non-negotiable. \n\n\nThe resource folder contains approximately 30 graphics. I have a specific idea of what I want for many of the images – however there are several where I am open to ...

    .item
      .labels
        a.button.small.radius.right(href='#')
          | <i class='icon-share-alt'></i>
          | Go
        span.label.label-inverse Fixed
        span.label.success 400$
        span.label.alert Part-time - 10-30 hrs/week
        span.label.secondary More than 6 months
      .description I have source code for an iOS slot machine game. I am looking to ‘reskin’ the game entirely by replacing symbol design, buttons, sounds, and an ‘unlock payout’ screen which is used to facilitate in-app purchases. \n\nI am looking for a contract with a fixed price, not an hourly wage. This is non-negotiable. \n\n\nThe resource folder contains approximately 30 graphics. I have a specific idea of what I want for many of the images – however there are several where I am open to ...

    .item
      .labels
        a.button.small.radius.right(href='#')
          | <i class='icon-share-alt'></i>
          | Go
        span.label.label-inverse Fixed
        span.label.success 400$
        span.label.alert Part-time - 10-30 hrs/week
        span.label.secondary More than 6 months
      .description I have source code for an iOS slot machine game. I am looking to ‘reskin’ the game entirely by replacing symbol design, buttons, sounds, and an ‘unlock payout’ screen which is used to facilitate in-app purchases. \n\nI am looking for a contract with a fixed price, not an hourly wage. This is non-negotiable. \n\n\nThe resource folder contains approximately 30 graphics. I have a specific idea of what I want for many of the images – however there are several where I am open to ...

    .item
      .labels
        a.button.small.radius.right(href='#')
          | <i class='icon-share-alt'></i>
          | Go
        span.label.label-inverse Fixed
        span.label.success 400$
        span.label.alert Part-time - 10-30 hrs/week
        span.label.secondary More than 6 months
      .description I have source code for an iOS slot machine game. I am looking to ‘reskin’ the game entirely by replacing symbol design, buttons, sounds, and an ‘unlock payout’ screen which is used to facilitate in-app purchases. \n\nI am looking for a contract with a fixed price, not an hourly wage. This is non-negotiable. \n\n\nThe resource folder contains approximately 30 graphics. I have a specific idea of what I want for many of the images – however there are several where I am open to ...

    .item
      .labels
        a.button.small.radius.right(href='#')
          | <i class='icon-share-alt'></i>
          | Go
        span.label.label-inverse Fixed
        span.label.success 400$
        span.label.alert Part-time - 10-30 hrs/week
        span.label.secondary More than 6 months
      .description I have source code for an iOS slot machine game. I am looking to ‘reskin’ the game entirely by replacing symbol design, buttons, sounds, and an ‘unlock payout’ screen which is used to facilitate in-app purchases. \n\nI am looking for a contract with a fixed price, not an hourly wage. This is non-negotiable. \n\n\nThe resource folder contains approximately 30 graphics. I have a specific idea of what I want for many of the images – however there are several where I am open to ...
